
<%= render 'pages/home' unless user_signed_in? %>

<div class="main-container">
  <header class="signup">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="Background Image" src="/images/browse.jpg">
    </div>

    <div class="container text-center">
      <div class="row text-center">
        <div class="col-sm-12 text-center">
          <h1 class="text-white"><%= @channel.name %>New Channel</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container"><br><br>

    Channels are different categories that you can post things in.   Maybe you have a channel for calming down, a happy channel, a funny channel, etc.

    <%= render 'form' %>

    <%= link_to 'Back', channels_path %>
  </div>
</div>

<br><br><div class="text-center"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Resilient Pin Page- Horizontal -->
<ins class="adsbygoogle"
     style="display:inline-block;width:468px;height:60px"
     data-ad-client="ca-pub-4579984495238903"
     data-ad-slot="8832584910"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div><br><br>

</div></div>