<%= form_for @pin, url: repin_create_path(@pin), method: :post, html: { multipart: true }, remote: true do |f| %>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Repin</h4>
      </div>

      <div class="modal-body">
        Please choose the channel you wish to repin to.

          <%= f.collection_select :channel_id, Channel.my_channels(current_user).order(:name),:id, :name, class:"form-control", include_blank: true %>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Submit', class: 'btn btn-default' %>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
<% end %>
