<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/browse.jpg">
          </div>
          
          <div class="container text-center">
              <div class="row text-center">
                <div class="col-sm-12 text-center">
                  <h1 class="text-white">New Pin</h1>
                
                </div>
              </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

              Keep the posts positive, related to mental health, and recovery-focused.  Please do not post anything potentially triggering or negative.<br><br>

<%= render 'form' %>

<%= link_to 'Back', channel_path(@channel) %>

</div></div></div>

<br><br><div class="text-center"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Resilient Pin Page- Horizontal -->
<ins class="adsbygoogle"
     style="display:inline-block;width:468px;height:60px"
     data-ad-client="ca-pub-4579984495238903"
     data-ad-slot="8832584910"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script></div><br><br>

</div>