/* line 5, C:/Users/harp/resilient/app/assets/stylesheets/pins.css.scss */
#pins {
  margin: 0 auto;
  font-size: 14px;
}

/* line 10, C:/Users/harp/resilient/app/assets/stylesheets/pins.css.scss */
.box {
  margin: 5px;
  height: 250px;
}

/* line 16, C:/Users/harp/resilient/app/assets/stylesheets/pins.css.scss */
.box img {
  width: 100%;
}

/* line 20, C:/Users/harp/resilient/app/assets/stylesheets/pins.css.scss */
.repin {
  font-family: "Open Sans", verdana, arial, helvetica, sans-serif;
  font-size: 14px;
}

/* line 25, C:/Users/harp/resilient/app/assets/stylesheets/pins.css.scss */
input, button, select, textarea {
  font-size: 14px;
}
