<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/about.jpg">
          </div>
          
          <div class="container text-center">
              <div class="row text-center">
                <div class="col-sm-12 text-center">
                  <h1 class="text-white">About</h1>
                
                </div>
              </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

<h1>Depression and anxiety aren't the boss around here.</h1>

Let's be real. Having a mental illness sucks. I've been where you are.  I know what it's like.<br><br>

I know because I was clinically depressed for more than nine years and ended up in the hospital and droppping out of college because of it. I spent a lot of time meditating, contemplating the meaning of existence, and staring at my belly button before I realized that there wasn't really anywhere to go to find helpful resources for dealing with all of this.   It was like crossing an ocean without a map.  So I had to try out dozens of different things from many different sources over the course of more than a year before I figured out anything that was actually helpful.<br><br>

Eventually I figured out what did help and I started to recover.  My good days were more frequent and my bad days were farther apart.  I created a toolbox of resources for dealing with my depressive and anxious moods, everything from meditation to running to cutting out gluten and watching cat videos, and it actually worked.  Recovery is not a one time thing, though.  It's a choice you make every day to rise above your struggle, to say, "This illness does not define me."  And to keep trying.<br><br>

I created Resilient as a mental health app to share inspiration and tips for recovery.  And it's free.  Because regardless of who you are, you deserve to get help, and you deserve to be happy.  Really.<br><br>

Love,<br>
Katie Harp<br>
Founder<br><br>

P.S.  No really, it gets better. <3<br><br>

<img src="/images/profpicbw-200.jpg"><br><br>

katie(at)resilientapp.com<br><br>

My story: <a href="http://www.elephantjournal.com/2015/01/how-finding-my-passion-saved-my-life-from-depression/">How Finding My Passion Saved My Life from Depression</a>

</div>
</div>
</div>
</div>