<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/about.jpg">
          </div>
          
          <div class="container text-center">
              <div class="row text-center">
                <div class="col-sm-12 text-center">
                  <h1 class="text-white">About</h1>
                
                </div>
              </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

<h1>Depression and anxiety aren't the boss around here.</h1>

Let's be real. Having a mental illness sucks. I know because I was depressed for a long time and ended up droppping out of college because of it. I spent a lot of time meditating, contemplating the meaning of existence, and staring at my belly button before I figured out that a lot of the resources out there meant to help depression and anxiety didn't actually help me - but I did discover a few things that did. <br><br>

One day I decided to start a list of what I was doing that was helping, so when I had bad days in the future I would have a resource to go to.  Thus I started creating my Depression Toolbox, first as just a file on my computer and eventually it grew into what would later be Resilient. It expanded over time and eventually it was what I turned to for any depressive or anxious mood and no matter what, I always felt better. Then I realized I could help a lot of people if I shared what I had been doing to overcome my depression, so I created Resilient as an app to share inspiration and tips for recovery.  And the app is free.  Because regardless of who you are or what you have, you deserve to get help.<br><br>

Love,<br>
Katie Harp<br>
Founder<br><br>

katie(at)resilientapp.com

</div>
</div>
</div>
</div>