<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/dropout.jpg">
          </div>
          
          <div class="container text-center">
              <div class="row text-center">
                <div class="col-sm-12 text-center">
                  <h1 class="text-white">Help!  I had to drop out of school.</h1>
         <% if user_signed_in? %>
         <span class="text-white">Get our weekly inspirational emails, and a love letter: "You're Not Broken."</span><br><br>
          <div id="mc_embed_signup"> <form class="validate" id="mc-embedded-subscribe-form" action="//resilientapp.us9.list-manage.com/subscribe/post?u=0f2ed3ea91eb1d8f12d344ee1&amp;id=4334a5a58c" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank"> <div class="mc-field-group"> <input class="required" id="mce-FNAME" type="text" name="FNAME" placeholder="First Name" value=""  /> <input class="required email" id="mce-EMAIL" type="email" name="EMAIL" placeholder="Email Address" value=""  /> <input type="hidden" name="b_8c2fdee11f59dc4d7adf9bcbf_83dec78335" value=""><input type="submit" id="mc-embedded-subscribe" /> </div> </form>
     <% else %>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-white btn-primary" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-filled" %>
  <% end %> 
                </div>
              </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

                             <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Resilient Main -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4579984495238903"
     data-ad-slot="9304520911"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script><br><br>

Sometimes our mental health can lead us to crises that force us to drop out of school.  That was the case for me, when I dropped out of college my junior year, and maybe for you too, if you're reading this.<br><br>

First, I want you to breathe.  Being a dropout does not mean you're going to fail at life.  Believe it or not, this is NOT the end of the world.  Bill Gates was a college dropout.  Mark Zuckerberg was a college dropout.  Many great people were dropouts or didn't go to school in the first place.<br><br>

Second, you need to prioritize your mental health.  If you dropped out because of a mental health crisis, well, your first priority is not to get back into school or to get a job right away.  <strong>Your first priority is to get better.</strong><br><br>

Once you feel like your mood is stabilizing (see our other resources for help), then it's time to start thinking about your future.  That's what this guide is for.  One option is to go back to school and finish whatever degree you were working on, whether that's high school or college.  If you're in high school, another option is to get your GED.  But let's assume that you don't want to or can't go back to school.  Maybe you're doing well now that you don't have the pressures of classes and exams and everything else, and you don't want to add that stress back into your life.<br><br>

So, let's go with the thinking that you want to plan your future - and a career - without going back to school.<br><br>

There are actually a LOT of jobs that don't require degrees, just certain skills or self-education, and most of them are in technology.  So if you're like most of our users and you're either a teenager or young adult, you probably use technology in some form 24/7 anyway and it's like breathing to you.  That's awesome.<br><br>

After I dropped out of school I went back home to live with my parents and within a few months I started a web design business and made a living that way (granted I had been doing web design for a long time already, but you can still learn any of this).<br><br>

Here are some careers that don't require a degree (and many of which you can be self-employed, which means you are free to set your own hours and take as many days off as your health requires.  Flexibility is a great thing in jobs when it comes to your mental health):<br><br>

- Web designer<br>
- Web developer<br>
- Social media manager<br>
- Marketing manager<br>
- Blogger<br>
- Virtual assistant<br>
- Photographer<br>
- Videographer<br>
- Jewelry designer<br>
- Artist<br>
- Writer<br>
- Entrepreneur (that's me! :))<br>
- Anything freelance (design, programming, writing, etc)<br><br>

Basically anything creative or anything involving technology.<br><br>

<strong>Here are some online courses to help you out (and we're not being paid for recommending any of these :)):</strong><br><br>

<a href="http://www.codecademy.com/">Codecademy</a> (Learn to code for free)<br>
<a href="http://teamtreehouse.com/">Treehouse</a> (Learn design, development, and entrepreneurship.)<br>
<a href="https://learnable.com/">Learnable</a> (Learn design and development)<br>
<a href="http://skillcrush.com/skillcrush-blueprints/">Skillcrush</a> (Learn design or development.)<br>
<a href="http://www.wpbeginner.com/">WP Beginner</a> (Learn Wordpress for starting a blog)<br>
<a href="http://www.skilledup.com/courses/">Skilled Up</a> (Extensive course catalog of all design and development classes around the web)<br>
<a href="https://www.udemy.com/">Udemy</a> (Learn real world skills)<br>
<a href="https://generalassemb.ly/online/frontrow">General Assembly Front Row</a> (Learn design, development, marketing, and entrepreneurship)<br>
<a href="https://www.udacity.com/course/nd001">Udacity</a> (Front End Developer program)<br>
<a href="https://www.udacity.com/course/nd003">Udacity</a> (iOS Developer program)<br>
<a href="https://www.udacity.com/course/ep245">Udacity</a> (How to Build a Startup class)<br><br>

<strong>Getting an online job:</strong><br><br>

<a href="http://www.etsy.com/">Etsy</a> (Sell your art online)<br>
<a href="https://www.elance.com/">Elance</a> (Get freelance work doing design, development, finance, writing, translation, etc)<br>
<a href="https://www.freelancer.com/job/">Freelancer</a> (Various freelance jobs)<br>
<a href="https://www.odesk.com/o/home">Odesk</a> (Freelance jobs doing design, development, mobile developing, customer service, virtual assistance, writing, translation, sales, marketing, etc)<br>
<a href="https://www.zirtual.com/jobs/zirtual-assistant/">Zirtual</a> (Work as a virtual assistant)<br>
<a href="http://fiverr.com/">Fiverr</a> (Make $5 per gig doing just about anything, from drawing to marketing, social media posting, writing, editing, translating, proofreading, singing, advertising, business, etc)<br>
<a href="http://99designs.com/">99 Designs</a> (Graphic design contests.  Hard to win the money but you can get experience with real clients).<br>
<a href="http://squarespace.com/">Squarespace</a> (Start a website, for your business, etc)<br>
<a href="https://carbonmade.com/">Carbonmade</a> (Build a free online portfolio)<br><br>

<strong>Alternative education:</strong><br><br>

<a href="http://expinstitute.com/">Experience Institute</a><br>
<a href="http://thedoschool.org/">The Do School</a><br>
<a href="http://mycelium.is/">Mycelium</a><br>
<a href="http://www.trailblazergathering.com/">Trailblazer Gathering</a><br>
<a href="http://www.uncollege.org/program/">Uncollege</a><br>
<a href="http://exosphe.re/">Exosphere</a><br>
<a href="http://draperuniversity.com">Draper University</a><br>
<a href="https://www.coursera.org/">Coursera</a> (Take college classes for free)<br><br>

<strong>Grant for college dropouts under 20 (yes, this actually exists.  It's for $100,000):</strong><br><br>

<a href="http://www.thielfellowship.org/apply/">Thiel Fellowship</a><br><br>

<strong>Apprenticeships:</strong><br><br>

<a href="http://www.enstitute.org/">Enstitute</a><br>
<a href="http://www.apprentice.io/">Apprentice.io</a> (Design and development apprenticeships)<br><br>

Hopefully this opens up the possibilities you see for your future.  Although things might be really tough right now, brighter days are ahead.  Your future is in your hands.  You got this. <3

<br><br><p class="text-center"><img src="/images/dropout-button.jpg"></p>

<br><p class="text-center"><strong>Share this!</strong></p>
<div class='shareaholic-canvas' data-app='share_buttons' data-app-id='13081882'></div>

               <br><br><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Resilient Main -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4579984495238903"
     data-ad-slot="9304520911"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script><br><br>

</div>
</div>
</div>
</div>
</div>