<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/foyl-header.jpg">
          </div>
          
          <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                  <img src="/images/foyl-text.png">
              </div>
            </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

<p class="text-center"><img src="/images/foyl-headline1.gif"></p><br><br>

I spent FOREVER trying to figure out WTF I was supposed to do with my life.<br><br>

It was painful.  It was frustrating.  It was exhausting.<br><br>

And no matter how much I tried to think my way into the answer, this mysterious "purpose" for my life continued to elude me until I heard something very important from a woman named Marie Forleo,<br><br>

<p class="text-center"><img src="/images/foyl-headline2.gif"></p><br>

In other words, you can't think your way to the answers.  You just can't.  You have to take action and actually experience the things you think you want so you can figure out if you like it or if you need to change course.<br><br>

I basically just gave you the secret to life right there.  If you're trying to figure out your life and all you're doing is thinking about it, and you haven't taken any concrete steps like journaling about it, signing up for something new, making a bold move, looking up your options, etc, etc, then you're going to stay stuck and confused.  And we don't want that.<br><br>

You might feel stuck right now, but you can figure this out.  And oftentimes when you have a clear purpose for your life, you feel more motivated, happier, energetic, and ready to take on the world. :)<br><br>

<p class="text-center"><img src="/images/foyl-headline3.gif"></p><br><br>

<div class="price"><h2>Pay What You Can</h1>
I think everyone deserves to get help, regardless of their financial situation, so the price is pay what you can. :)<br>
<strong>Suggested price: $39</strong><br><br>
<a href="https://www.e-junkie.com/ecom/gb.php?c=cart&i=1424521&cl=287680&ejc=2&amount=38" target="ej_ejc" class="ec_ejc_thkbx" onClick="javascript:return EJEJC_lc(this);"><img src="/images/buy-now.gif"></a>
</strong></div><br><br>

Here are some of the topics we'll cover during this class:<br><br>

<strong>Part 1: Where You are Now and Where You Want to Go</strong><br>
     A view of society<br>
     Evaluating where your life is now<br>
     Journaling / brain dump<br>
     How to figure out what you want (<a href="/how-to-figure-out-what-you-want">click here to preview this lesson</a>)<br>
     How do you want to feel?<br>
     Determining your values<br>
     Be, do, have exercise<br><br>

<strong>Part 2: Purpose and Passion</strong><br>
     What are you passionate about?<br>
     Zone of genius<br>
     Dream Day exercise<br>
     In ten years, what will you regret not doing or pursuing?<br>
     Where your passion intersects with your talents and skills and what the world needs.<br>
     A mission statement for your life<br><br>

<strong>Part 3: Making a Plan to Get There</strong><br>
     Goal setting <a href="/goal-setting-prompts">(click here to preview this lesson)</a><br>
     Create life inventory of where you want to go<br>
     Taking action<br>
     Stop doing list<br>
     80% of your results come from 20% of your effort<br>
     Review your goals, purpose, passions, and mission statement<br>
     Compare these to your values and how you want to feel<br>
     Do your goals meet up with your values?<br>
     Small steps every day.  Consistent action is the key to success.<br><br>

You will receive a video (about 15-20 minutes each) in your inbox for each of the three parts (spaced out a week) along with some worksheets and exercises.<br><br>

<div class="price"><h2>Pay What You Can</h1>
I think everyone deserves to get help, regardless of their financial situation, so the price is pay what you can. :)<br>
<strong>Suggested price: $39</strong><br><br>
<a href="https://www.e-junkie.com/ecom/gb.php?c=cart&i=1424521&cl=287680&ejc=2&amount=38" target="ej_ejc" class="ec_ejc_thkbx" onClick="javascript:return EJEJC_lc(this);"><img src="/images/buy-now.gif"></a>
</strong></div>

</div>
</div>
</div>
</div>
</div>