<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/foyl-header.jpg">
          </div>
          
          <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                  <img src="/images/foyl-text.png">
              </div>
            </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

Thanks for signing up for Figure Out Your Life!<br><br>

You will receive your first email within a day or so, and then one each week for the next two weeks (a total of 3 weeks of emails).<br><br>

You rock!  <a href="https://s3-us-west-1.amazonaws.com/resilient-bucket/resources/classes/Figure+Out+Your+Life+Welcome+Message.pdf">Here is a welcome message just for you</a>. :)


</div>
</div>
</div>
</div>
</div>