<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/goal-setting.jpg">
          </div>
          
          <div class="container text-center">
              <div class="row text-center">
                <div class="col-sm-12 text-center">
                  <h1 class="text-white">Goal Setting Prompts</h1>
         <% if user_signed_in? %>
         <span class="text-white">Get our weekly inspirational emails, and a love letter: "You're Not Broken."</span><br><br>
          <div id="mc_embed_signup"> <form class="validate" id="mc-embedded-subscribe-form" action="//resilientapp.us9.list-manage.com/subscribe/post?u=0f2ed3ea91eb1d8f12d344ee1&amp;id=4334a5a58c" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank"> <div class="mc-field-group"> <input class="required" id="mce-FNAME" type="text" name="FNAME" placeholder="First Name" value=""  /> <input class="required email" id="mce-EMAIL" type="email" name="EMAIL" placeholder="Email Address" value=""  /> <input type="hidden" name="b_8c2fdee11f59dc4d7adf9bcbf_83dec78335" value=""><input type="submit" id="mc-embedded-subscribe" /> </div> </form>
     <% else %>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-white btn-primary" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-filled" %>
  <% end %> 
                </div>
              </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

<h1>I must confess: I LOVE setting goals.  Love it.  I could set goals all day long.</h1>

For fun, sometimes I plan out different parts of my life and dream about the future and I absolutely love it.  Of course, I try to live in the present, but thinking about the future can certainly be fun and motivating.<br><br>

I decided to put together this list of questions and prompts for setting goals because it’s a compilation of the various tools, books, and videos I’ve used in my own life to plan out the year (but you can start at any time!).<br><br>

So, grab a journal or new blog post (I used the <a href="https://dailygreatness.refersion.com/c/748b7">Daily Greatness journal</a>) and a cup of tea and let’s get started!  Feel free to pick and choose the questions you want to answer.  You don’t have to answer everything; these are just here to give you ideas and get your mind in dreaming and planning mode.<br><br>

What do you want in life?<br><br>

<h1>Rating Different Areas of Your Life</h1>

First score each area from 1-10 (1 being awful and 10 being everything is amazing!) and set goals for each.<br><br>

Family and Friends<br>
Love<br>
Social and Fun<br>
Money<br>
Health and Body<br>
School or Career<br>
Spirituality and Personal Growth<br><br>

<h1>Personal Beliefs and Values</h1>

List 5 things you believe.<br>
List 5 things that are important to you.<br>
List your 5 most important values.<br><br>

<h1>Looking Back on the Past Year</h1>

Write about what you accomplished in the last year.<br>
Write down your favorite memories from the past year.<br>
Write about what you are grateful for in the past year.<br><br>

<h1>New Habits and Routines</h1>

In order to accomplish these new goals, what are you going to have to change in your life?  How can you create new habits that will propel you forward?<br><br>

Daily habits<br>
Weekly habits<br>
Monthly habits<br><br>

Every day, write down your three most important tasks and then do them.  If you do this every day, you’ll make a ton of progress.<br><br>

///<br><br>

<h1>Figuring Out Your Passion and Purpose</h1>

What could you talk about for hours?<br>
What do you do when you procrastinate?<br>
What are people always asking you about?<br>
What would you do if you retired?<br>
 Why were you put on this earth?<br> 
What is your bigger than big dream?<br><br>
 
So now that you’ve dug deep and answered all these questions, look back at your answers and find what keeps coming up.  Circle common themes.<br><br>
 
Based on your previous answers, what is your gift that you want to share with the world?<br> 
How do you want to change the world?<br>
What legacy do you want to leave?<br><br>

If you had $100 million in the bank, what would you do with your life?<br>
If you knew you were guaranteed to succeed, what would you do?<br>
What did you love to do as a child?<br><br>

<h1>Create a mission statement for your life</h1>

Here’s mine:<br><br>

<em>Life purpose: to bring light to the darkness, and hope to the hopeless.  To be an influential female tech entrepreneur.  To love much and live simply.  To leave the world better than I found it.</em><br><br>

///<br><br>

<h1>Looking to the Year Ahead</h1>

List 10 things you hope to accomplish in the next year (or 12, one per month!).<br><br>

1 year goals<br>
10 year goals<br>
Lifetime goals<br><br>

Choose a guiding word for the upcoming year.  Mine is Trust.<br><br>

How do you want to experience the upcoming year?<br>
What are your dreams?<br>
How do you want to spend your time this year?<br>
What will you do differently this year?<br>
What habits will you create or break this year?<br>
Write down your bucket list.  100 things you want to do in your lifetime.<br>
Make a list of 100 reasons you’re awesome (this is HARD but it’s so worth it).<br>
What would you like to learn this year?<br>
What books would you like to read?<br>
What movies or tv shows do you want to watch?<br>
List 10 ways to take care of yourself when you’re having a bad day.<br>
Create a vision board on Pinterest or on your computer.<br>
Write out your dream day (in detail!).<br><br>

///<br><br>

Congrats!  You made it!  Now you have some awesome goals written down for your life and you're one step closer to accomplishing your dreams.

</div>
</div>
</div>
</div>
</div>