<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/forgiveness.jpg">
          </div>
          
          <div class="container text-center">
              <div class="row text-center">
                <div class="col-sm-12 text-center">
                  <h1 class="text-white">Heal with Forgiveness</h1>
         <% if user_signed_in? %>
         <span class="text-white">Get our weekly inspirational emails, and a love letter: "You're Not Broken."</span><br><br>
          <div id="mc_embed_signup"> <form class="validate" id="mc-embedded-subscribe-form" action="//resilientapp.us9.list-manage.com/subscribe/post?u=0f2ed3ea91eb1d8f12d344ee1&amp;id=4334a5a58c" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank"> <div class="mc-field-group"> <input class="required" id="mce-FNAME" type="text" name="FNAME" placeholder="First Name" value=""  /> <input class="required email" id="mce-EMAIL" type="email" name="EMAIL" placeholder="Email Address" value=""  /> <input type="hidden" name="b_8c2fdee11f59dc4d7adf9bcbf_83dec78335" value=""><input type="submit" id="mc-embedded-subscribe" /> </div> </form>
     <% else %>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-white btn-primary" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-filled" %>
  <% end %> 
                </div>
              </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

Have you ever had a problem that kept coming back after you thought you were done with it?  Or maybe you've been depressed for a long time and just when you think you're starting to get better, you start to get bad again.<br><br>

We see a problem like depression or anxiety or excess weight or self injury and we think that's the problem we need to solve.  So we do whatever it takes to get rid of the problem, forcing our way to a solution, and for a while, it might work.  But after some time, the problem comes back because we were treating the symptoms and not the root cause.  For this reason, we don't heal.<br><br>

The problem will continue to come up again and again in our lives in different ways until we finally tackle it head-on and deal with the root cause.  You can't get rid of a weed unless you get the roots, because even if you pull off the top, it will keep growing back again and again.<br><br>

Depression is the same way.<br><br>

<h1>Until you deal with the underlying cause of your depression, you won't begin to heal.</h1>

So it will keep coming up in your life in different events and situations and people.  The same problems you've always faced or the same people and situations you've always attracted into your life will continue to come back until you heal the source.  But if you figure out what the source of the problem is and you forgive all the painful emotions and memories surrounding it, you can permanantly heal negative beliefs and prevent new bad situations from happening.<br><br>

For example, I used to think I wasn't worthy of love so I always found people - whether friends, guys, or whoever - who reinforced that belief, which meant that sometimes my friends or potential love interests treated me badly, which then made me believe I wasn't worthy of love, thus enforcing the vicious cycle.  And then I would collect evidence of these people being mean to me as proof that I was a bad person.  But you can stop the cycle.<br><br>

If I can give you one piece of advice that will change the way you approach recovery, it's this quote.  Hearing this for the first time had a huge impact on the way I thought:<br><br>

<em>"Nothing ever goes away until it has taught us what we need to know"</em> - Pema Chodron<br><br>

In other words, if something negative is still in your life (such as depression, addiction, an abusive relationship, anything), what do you need to learn from it or do differently to finally let it go and release it out of your life?  Do you need to learn to love and respect yourself, or maybe to let go and trust that things will be ok?  Think about it.<br><br>

Let's get into the exercises for forgiveness work.

<h1>What is the painful belief or thought?</h1>
Example: I feel depressed and I hate myself<br><br>

Write down the problem at the top of a sheet of paper or a note on your phone or computer.  I used this example because it's a thought I used to have a lot during my most depressed days.  No one else has to read this but you, so be honest.<br><br>

Let yourself feel the emotion completely without trying to block it out.  Let yourself experience all the feelings that come up around this issue.  You can cry or get angry if you want to.  (Take care of yourself, ok?  And drink lots of water during this process.)  After a few minutes the intensity of emotion will subside on its own.<br><br>

<h1>Now, what situations or memories from your life can you think of that may have contributed to you feeling this way?</h1>

Write down everything you can think of.<br><br>

You have to get to the root cause of this situation.  It's usually several layers deeper than you think, and when you realize the actual cause, you might end up in tears because it's that painful.  Often these root causes stem from situations in our childhood.  Even if you think you had a great childhood, there will always be events that led you to the belief system you now hold today, and if your beliefs are negative, they were created somewhere along the line by something that happened in your life or something someone said to you that had an impact.<br><br>

Now it's time to forgive these old memories.  You may have to repeat the process of writing out the problem and the possible memories that caused it several times before you actually get to the root cause.  The root cause will be very painful to realize.  In either case, do this forgiveness work first before repeating the exercise.<br><br>

Write down what you have resentful or negative feelings about, then forgive it with the Ho'oponopono technique.<br><br>

For each memory, say the following:<br><br>

<h1>"I forgive you, I'm sorry, I love you, thank you."</h1>

The words are based on the Hawaiian forgiveness practice of Ho'oponopono.  You might think this part is kinda weird, but that's ok.  I forgive you is so you can forgive the people or memory itself, I'm sorry acknowledges whatever part you played in the situation, I love you sends out love to the memory to heal resentment, and thank you is so you can learn from the situation and make you into a better person.<br><br>

The whole point of doing this is that you forgive the old memories so they can be cleared from your subconscious mind.  Even if you no longer think about these events consciously, they are still affecting your subconscious mind and may come into play whether you're aware of it or not whenever you make a decision or take any action in your life.  For example, if something happened that makes you feel unworthy of love, you're always going to make decisions based on the belief that you're unworthy of love and then you're going to continue to attract that kind of negative situation into your life because you believe you deserve the negativity.<br><br>

<h1>Your thoughts create your beliefs which cause your actions which create your reality, so it's important that your thoughts are clear of negativity.</h1>

However, general advice to "think positive" doesn't work because the negative memories and self doubt will continue to creep in, no matter how many positive affirmations you say.  You have to heal the root problem before you can start adding positivity to your life, otherwise it's just like putting a Bandaid over the problem and never actually fixing it.<br><br>

Note that by forgiving the memory, it doesn't necessarily mean you're forgiving the person who caused it, and you're definitely not condoning their behavior.  Also, in some cases you may need to forgive yourself.<br><br>

Once you've identified the memories causing a particular negative belief or situation to play out in your life, you can forgive the old memories, and heal the situation.  You may have to do this several times over a period of time to really allow yourself to let go of the memory and the harmful belief.  You may also feel worse before you feel better because you're dredging up old painful memories that you've been repressing this whole time, but once you heal it, it will no longer negatively affect your life.<br><br>

Another way to further heal the memory (after you do the previous work) is to say specific positive affirmations that combat the negative belief (such as "I am worthy of love").<br><br>

<h1>Here's a summary of forgiveness work:</h1>

<strong>- Write down the painful belief or thought<br>
- Write down all the memories that you can think of that contributed to this belief<br>
- Go through each memory one by one and forgive it with Ho'oponopono<br>
- Allow time for your mind to heal<br>
- Clear up any remaining resentment and anger with positive affirmations<br>
- Repeat the process for every negative belief you want to heal</strong><br><br>

This might be scary and painful, but that's ok.  Try to push yourself outside your comfort zone a little bit more each time until you make progress.  Lots of emotions might come up during this, and you might be emotional for a few days, but that's ok.  Just know that you're doing the best you can.<br><br>

This is from the <a href="/negativity-detox">30 Day Negativity Detox</a>.

<br><br><p class="text-center"><img src="/images/forgiveness-button.jpg"></p>

<br><p class="text-center"><strong>Share this!</strong></p>
<div class='shareaholic-canvas' data-app='share_buttons' data-app-id='13081882'></div>

</div>
</div>
</div>
</div>
</div>