<div class="main-container">
			<header class="signup"> 
					<div class="background-image-holder parallax-background">
						<img class="background-image" alt="Background Image" src="/images/home.jpg">
					</div>
					
					<div class="container text-center">
							<div class="row text-center">
								<div class="col-sm-12 text-center">
									<h1 class="text-white">Uplift your day.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
			</header>
			
			<section class="product-right">
			
				<div class="background-image-holder">
					<img class="background-image" alt="Background Image" src="img/grey-bg.jpg">
				</div>
				
				<div class="container align-vertical">
					<div class="row">
						<div class="col-md-5 col-sm-6">
							<h1>Pivot breathes new life into your app or product landing page</h1>
							<p class="lead">
								Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
							</p>
							<a href="#" class="btn btn-primary">Try A Demo</a>
							<a href="#" class="btn btn-primary btn-filled">Purchase</a>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
				
				<div class="product-image" data-scroll-reveal="enter right and move 100px">
					<img alt="Product Image" src="img/ipad.png">
				</div>
			
				<div class="main-container">
			<section class="projects-gallery">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1>Our Work</h1>
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta. 
							</p>
						</div>
					</div><!--end of row-->
					</div>
				
					<div class="container">
						<div class="projects-container column-projects">
					
							<div class="col-sm-4 project development image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="/images/home.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>MS10</strong> UX</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-sm-4 project branding image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="/images/home.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Medium</strong> Blog Platform</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-sm-4 project print image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="/images/home.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Identity</strong> Mockup</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-sm-4 project print image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="/images/home.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Aurora</strong> App Icons</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-sm-4 project branding image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="/images/home.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Sketchbook</strong> Logo Mockup</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
							<div class="col-sm-4 project development image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="/images/home.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Muzik</strong> Home Screen</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div><!--end of individual project-->
							
						
					
						</div><!--end of projects-container-->
					</div><!--end of container-->
					
				</div><!--end of projects wrapper-->
				</section>
			</div>