<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/wantyouwant.jpg">
          </div>
          
          <div class="container text-center">
              <div class="row text-center">
                <div class="col-sm-12 text-center">
                  <h1 class="text-white">How to Figure Out What You Want</h1>
         <% if user_signed_in? %>
         <span class="text-white">Get our weekly inspirational emails, and a love letter: "You're Not Broken."</span><br><br>
          <div id="mc_embed_signup"> <form class="validate" id="mc-embedded-subscribe-form" action="//resilientapp.us9.list-manage.com/subscribe/post?u=0f2ed3ea91eb1d8f12d344ee1&amp;id=4334a5a58c" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank"> <div class="mc-field-group"> <input class="required" id="mce-FNAME" type="text" name="FNAME" placeholder="First Name" value=""  /> <input class="required email" id="mce-EMAIL" type="email" name="EMAIL" placeholder="Email Address" value=""  /> <input type="hidden" name="b_8c2fdee11f59dc4d7adf9bcbf_83dec78335" value=""><input type="submit" id="mc-embedded-subscribe" /> </div> </form>
     <% else %>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-white btn-primary" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-filled" %>
  <% end %> 
                </div>
              </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">


  I’m listening to the song “Cool Kids” by Echosmith.  One of the lines is that someone is walking in a straight line but that’s not her style.  She says she wishes she could be like the cool kids, but really what they want isn’t what she wants for her life.<br><br>

  And this song represents what all of life is about.  Part of us wants to be like the “cool kids” and do what everyone else is doing, even if their goals aren’t what we really want for our life, and part of us is longing to live life on our own terms, regardless of what other people think.  I think what matters the most is doing what we most want.<br><br>

  <h1>It’s not about following the crowd or doing what you think you should, it’s about doing what you’re passionate about and following your heart.</h1>

  One line is “I wish that I could be like the cool kids; they seem to get it.”<br><br>

Isn’t that what we all want?  To feel like we “get” life?<br><br>

Like we have it all figured out?<br><br>

Maybe that day never comes.<br><br>

<h1>Maybe you have to learn to be comfortable with uncertainty; to breathe into the discomfort.</h1>

Or maybe we figure out what we want to figure out.  What we focus on expands, so wherever our concentration goes is the tangle of knots that we pick apart with our fingers, untangling delicate threads of future goals and careers and dreams.<br><br>

Sometimes we can’t force our way to the answers.  And it’s pretty hard to think your way to the answers.  What I like to do instead is to alternate between taking action and being still.<br><br>

When you take action, it can be working on some project you’re passionate about or maybe something you have a small inkling of interest in.  This helps you figure out what you like doing and what you don’t like doing and you can adjust along the way.<br><br>

<h1>Just get started in whatever way you can and pivot or change course from there.</h1>

The other method (and it’s best to do both, but at different times) is to be still and receive your own intuitive guidance.  It might sound a little woo woo, but your mind is constantly processing information in the background, so sometimes you’ll come up with the answers when you least expect it.  The best way to be able to hear your intuition is by meditating, sitting outside, in the shower, right before you fall asleep, etc.  Basically any time when you’re not engaged in another activity.  Having these still spaces throughout your day helps a lot with finding answers to things.<br><br>

You can also feel the decision in your body.  Think of whatever issue is on your mind.  How does your body feel?  Do you feel expansive or contractive?<br><br>

<h1>Do you feel your heart swell with excitement and joy, or do you crumple with anxiety at the future?</h1>

Sometimes I would spend days trying to figure out a business idea that fit all the requirements I wanted and at some point I would either go outside and sit on the bench in the backyard or flop down on the couch and do nothing and I usually had some pretty insightful thoughts that way.<br><br>

I also like to employ the Carrie Bradshaw method (ala Sex and the City) of pretending like I’m writing some insightful wisdom for a column (and sometimes I am writing my thoughts down for an audience, like this! :)).  Carrie is known to sit at her laptop in front of her window and let her thoughts drift around, which is a good way to get new ideas.  Also literally sitting in front of a window (for some reason, especially when it’s raining) always seems to help me.<br><br>

Having a laptop or going old school with a journal and pen is a good way to capture any thoughts that come up that you might want to remember while you’re sitting around meditating (and meditating doesn’t have to mean you sit cross legged with your eyes closed. I like to just look out into nature and think).  Pray if you want to.  Read the Bible.  Ask for a sign.  Or if you're into something more spiritual, <a href="http://www.llewellyn.com/tarot_reading.php">click here to pull a tarot card for yourself</a>.<br><br>

Here’s another cool way to figure out what you want: employ the old coin toss.  Except this time, you pick one decision for heads and one for tails, but the outcome doesn’t really matter.  What matters is that tiny moment of hope you feel when the coin is in the air -- which way did you hope the coin would flip?  There’s your answer.<br><br>

However you decide to make decisions, remember that it’s not always about logic.  Sure, you can make pro and con lists and analyze something until there’s nothing left to analyze if that’s your style, but ultimately only you know if you’re making the right decision.<br><br>

<h1>Listen to your intuition, and you’ll never be lead astray.</h1>

<br><br><p class="text-center"><img src="/images/forgiveness-button.jpg"></p>

<br><p class="text-center"><strong>Share this!</strong></p>
<div class='shareaholic-canvas' data-app='share_buttons' data-app-id='13081882'></div>


</div>
</div>
</div>
</div>
</div>