<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/detox-header.jpg">
          </div>
          
          <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                  <img src="/images/detox-header-small.png">
              </div>
            </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

<p class="text-center"><img src="/images/detox-headline.gif"></p><br><br>

I want you to know that I see your struggle.  I feel your pain.  I know because I've been there.  I was depressed for nine long years before I reached my breaking point, ending up in the hospital and dropping out of college, and realized that I had to make major changes in my life if I ever wanted to get better.<br><br>

And I did.  The more things I changed, the better I got.  Over time, I realized I was actually genuinely happy for the first time in a very long time.  It wasn't easy, but it was worth it for me to be able to say now that I'm truly happy.  And I believe - really!-  that it's possible for you to be happy too.<br><br>

Depression sucks.  And sometimes it seems like the world is one big suckfest, and everyone's out to get you and why-can't-something-go-right-for-once-in-my-life?!?  I know.  I feel you.<br><br>

But what if it didn't have to be this way?<br><br>

What if you could actually be happy again?  What if you could spend your days smiling and doing things you love instead of having your friends call you a Debbie Downer for the millionth time?<br><br>

I think you've known for a while that you need to make some pretty big changes in your life.<br><br><br>

<p class="text-center"><img src="/images/detox-things-are-now.gif"></p><br><br>

It's time to let go of the negativity in your life, to let go of the past.  It's time to change your mindset and add a little happiness to your life.  It's time to make those changes and start taking steps towards the life you want.<br><br>

And I want to help you.  I spent more than a year recovering, and throughout the process, I learned a lot.  I learned what was helpful, what wasn't, what made a major impact on my mood, and what created lasting change.  And I want to help you, from one survivor to another (Yep, you're a survivor now.  No more label of "victim") so you can get better and go back to doing the things you love in life.<br><br>

If you're familiar with addiction or diets, you probably know what a detox is.  It's when you cut something out of your life and let all the toxins be released out of you.  Sometimes it's a painful process, but it leaves you freer and cleaner and healthier, and it's often the first part of recovery.  Because at the start, you somehow need to transition between this bad place where you currently are, and the happy place you want to be.<br><br>

So that's what this is.  The 30 Day Negativity Detox.  It's the first steps in your journey toward recovery.<br><br>

Every day I'll send you an email with a message and an action step for the day.  Part inspirational and part loving coaching, it's my hope that these emails challenge you to make some big changes in your life and get back on the path you want to be on.  I'm going to tell you everything I figured out during my own recovery about what helps your mood and what actually makes a difference.  It's not therapy, but it can helpful in addition to seeking help from a trained therapist or psychiatrist (or perhaps a baby step you take before you get help.).  At the end of the class, you'll also get an ebook version of all the materials.<br><br><br>

<div class="price"><strong><h1>Price: Pay What You Can</strong></h1><br>
(If you're struggling to make ends meet, by all means take this class for free.  I think everyone deserves to get help regardless of how many resources they have).<br>
<strong>Suggested Price: $29<br>
Registration opens 2/22</strong></div><br><br>

Here's a look at what we'll be covering:<br><br>

<strong>Week 1: Cut out the negative things in your life so you can make room for the good</strong><br><br>

- Baseline habits for a happier, less stressed you<br>
- Self sabotage (<a href="/self-sabotage">click here for a free preview of this</a>)<br>
- Negativity challenge (hint: there's no complaining allowed!)<br>
- Social media cleanse<br>
... and more.<br><br>

<strong>Week 2: Let go of the past so it no longer negatively impacts your future</strong><br><br>

- Forgiveness work (<a href="/heal-with-forgiveness">click here for a free preview of this</a>)<br>
- Forgiving the mistakes you've made<br>
- Forgiving the people around you<br>
... and more.<br><br>

<strong>Week 3: Change your mindset so you can view your life in a new light</strong><br><br>

- Replace fear with love<br>
- Change your beliefs<br>
- Mindset shifts<br>
... and more.<br><br>

<strong>Week 4: Infuse positivity into your life so you become a happier, more optimistic you</strong><br><br>

- How to meditate for less anxiety<br>
- Gratitude<br>
- The little things<br>
- Surrounding yourself with positive influences<br>
... and more.<br><br>

There will also be a few "detox days" with no new material to give you time to process everything and reflect on your journey so far.<br><br>

If you're ready to let go of all the negativity in your life and replace it with an optimistic new mindset, letting go of the past, happy surroundings, people who lift you up, and a lighter, more carefree approach to life, I encourage you to sign up.<br><br>

It's time to take those first steps.<br><br><br>

<div class="price"><strong><h1>Price: Pay What You Can</strong></h1><br>
(If you're struggling to make ends meet, by all means take this class for free.  I think everyone deserves to get help regardless of how many resources they have).<br>
<strong>Suggested Price: $29<br>
Registration opens 2/22</strong></div>

</div>
</div>
</div>
</div>
</div>