<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/detox-header.jpg">
          </div>
          
          <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                  <img src="/images/detox-header-small.png">
              </div>
            </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

Thanks for signing up for the 30 Day Negativity Detox!<br><br>

Class starts on March 1st, and you will start receiving daily emails then until March 30th.

<!-- Facebook Conversion Code for 30DND Sales -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6022053880501', {'value':'0.00','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6022053880501&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

</div>
</div>
</div>
</div>
</div>