<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/resources.jpg">
          </div>
          
          <div class="container text-center">
              <div class="row text-center">
                <div class="col-sm-12 text-center">
                  <h1 class="text-white">Resources</h1>
                
                </div>
              </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

<h1>Let's get your life back on track.</h1>

Thanks for signing up for Resilient!  You're awesome, and we have a present for you (ooh presents!).  Below are some resources that we've created to help you in your recovery journey.  You can also check out the We ♥ page to see our recommended reading.  Hope you find this helpful!<br><br>

<a href="/goal-setting-prompts"><img src="/images/goal-setting-prompts.jpg"></a>

</div>
</div>
</div>
</div>
</div>