<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/slow-it-down.jpg">
          </div>
          
          <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                  <img src="/images/slow-it-down-text.png">
              </div>
            </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

<p class="text-center"><img src="/images/slow-it-down-headline.gif"></p><br><br>

Slow it Down is a class about slowing down and simplifying your life.  It's a class about learning to exhale the stress of the world, and inhale new possibilities.<br><br>

This is a chance to start fresh, simplify, declutter, and let go of what no longer serves you.  This is about less anxiety, and more life.<br><br>

Here are the topics we'll cover during this class:<br><br>

1. Intro<br>
2. Quiet places (<a href="http://resilientapp.com/articles/quiet-places">click here for a preview of this</a>)<br>
3. Simplifying your life<br>
4. Mindfulness<br>
5. Get rid of overwhelm (<a href="http://resilientapp.com/articles/get-rid-of-your-overwhelm-with-one-simple-step">click here for a preview of this</a>)<br>
6. Single tasking<br>
7. Decluttering<br>
8. White space<br>
9. Meditation<br>
10. Minimalism<br><br>

You will receive 10 lessons by email spread out over a month, with plenty of days off in between to reflect and implement what you're learning at a nice, slow pace. :)<br><br>

<div class="price"><h2>Price: $29</h1>
<a href="https://gumroad.com/l/YRhvm"><img src="/images/buy-now.gif"></a>
</strong></div>

</div>
</div>
</div>
</div>
</div>