<div class="main-container">
      <header class="signup"> 
          <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="/images/slow-it-down.jpg">
          </div>
          
          <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                  <img src="/images/slow-it-down-text.png">
              </div>
            </div>
            </div><!--end of container-->
      </header>

     <div class="main-container">
        <div class="row">
          <div class="col-md-1">
            &nbsp;
          </div>
            <div class="col-md-10 row-offset-1 row-offset-2">

<p class="text-center"><img src="/images/slow-it-down-headline.gif"></p><br><br>

Slow it Down is a class about slowing down and simplifying your life.  It's a class about learning to exhale the stress of the world, and inhale new possibilities.<br><br>

This is a chance to start fresh, simplify, declutter, and let go of what no longer serves you.<br><br>

Here are some of the topics we'll cover during this class:<br><br>

1. Intro<br>
2. Quiet places<br>
3. Simplifying your life<br>
4. Mindfulness<br>
5. Get rid of overwhelm<br>
6. Single tasking<br>
7. Decluttering<br>
8. White space<br>
9. Meditation<br>
10. Minimalism<br><br>


<div class="price"><h2>Price: $29</h1><br>
<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
<a class="gumroad-button" href="https://gumroad.com/l/YRhvm">Buy Now</a>
</strong></div>

</div>
</div>
</div>
</div>
</div>