.userShow {
	h1 {
		display: inline;
	}
	.dropdown {
		display: inline;
		ul {
			li {
				#blockUser {
				cursor: pointer;
				}
			}
		}
		#blockFlag {
			cursor: pointer;
			font-size: 15px;
			line-height: 40px;
		}	
	}
}